.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.opp1 {
  border: 4px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.opp2 {
  border: 4px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  background-color: aliceblue;

  font-size: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player {
  background-color: rgb(156, 156, 255);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options {
  height: 12rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.fire,
.water,
.grass {
  background-color: white;
  border: 2px solid black;
  padding: 7px;
}
.fire,
.water,
.grass:hover {
  cursor: pointer;
}

.fire2,
.water2,
.grass2 {
  background-color: white;
  border: 2px solid black;
  padding: 7px;
}
.fire2,
.water2,
.grass2:hover {
  cursor: pointer;
}

.battle {
  padding: 30px;
  font-size: 3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}

.battle:hover {
  cursor: pointer;
}

.win {
  display: none;
}

.vs {
  padding: 30px;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  border: 4px solid red;
}

#again {
  color: white;
  background-color: black;
}
