@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,
body {
  z-index: 0;

  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    #080f19,
    #3c6fc8,
    #8ed752,
    #ffa756,
    #f9dc5c,
    #a2579e,
    #ee2c2c
  );
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}
