.nav {
  color: #000000;

  padding: 0 15px;
  margin: 20px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  display: inline;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.home,
.about {
  border: 5px solid #000000;
  padding: 20px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 1.2rem;
  background-image: linear-gradient(0deg, blue 50%, rgb(0, 188, 211) 50%);
  background-size: 1% 200%;
  background-position: top;
  transition: background-position 0.5s ease;
}
.home:hover,
.about:hover {
  background-position: bottom;
  cursor: pointer;
}

@keyframes up-down {
  100% {
    transform: translateX(100%);
  }
}

/* Apply the following CSS to the image element */
.img {
  transition: transform 0.3s ease-in-out;
}

/* Apply the following CSS on hover */
.img:hover {
  transform: rotate(10deg); /* Rotate the image to the right */
  animation: swing 1s ease-in-out infinite alternate; /* Apply the swing animation */
}

/* Define the swing animation */
@keyframes swing {
  from {
    transform: rotate(10deg); /* Rotate the image to the right */
  }
  to {
    transform: rotate(-10deg); /* Rotate the image to the left */
  }
}
